<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card">
    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-3xl font-extrabold tracking-tight px-6">Agenda Reservation</div>
        <!-- Actions -->
        <div class="flex flex-1 items-center mt-6 sm:mt-0 ml-4">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-40 mr-4 w-full">
                <mat-icon class="icon-size-5 material-symbols-outlined" matPrefix >search</mat-icon>
                <input matInput [(ngModel)]="searchQuery.kw" [autocomplete]="'off'"  (keyup.enter)="doSearch()">
                <div matSuffix class="text-center text-md "><a  class="cursor-pointer" (click)="toggleAdvanceSearch()"><u>Advanced</u></a></div>
                <button type="button" mat-icon-button *ngIf="searchQuery.kw" (click)="clearSearch()" matSuffix>
                    <mat-icon class="icon-size-5 cursor-pointer material-symbols-outlined">close</mat-icon>
                </button>
            </mat-form-field>
            <!-- Add product button -->

        </div>
        <button type="button" class="ml-4 mr-6" mat-flat-button [color]="'primary'" (click)="create()">
            <mat-icon class="icon-size-5 material-symbols-outlined">add_circle</mat-icon>
            <span class="ml-2 mr-1">New</span>
        </button>
    </div>
    <div *ngIf="isAdvance" class="relative flex flex-col sm:flex-row flex-0  gap-4 sm:items-center sm:justify-between pt-4 px-6 border rounded mb-2 pb-4 bg-gray-50">
        <div class="flex flex-1  flex-col sm:flex-row gap-4 sm:items-center sm:justify-center ">
            <date-input [displayText]="'Request Date From'" [rangeDate]="searchQuery.end_date2" [rangeType]="'start'"  [controlClass]="'fuse-mat-dense fuse-mat-rounded '" [(ngModel)]="searchQuery.start_date2" class="w-full md:w-[180px]" [showClear]="true"></date-input>
            <date-input [displayText]="'Request Date To'"  [rangeDate]="searchQuery.start_date2" [rangeType]="'end'" [controlClass]="'fuse-mat-dense fuse-mat-rounded '" [(ngModel)]="searchQuery.end_date2" class="w-full md:w-[180px]" [showClear]="true"></date-input>
            <date-input [displayText]="'Meeting Date From'" [rangeDate]="searchQuery.end_date" [rangeType]="'start'"  [controlClass]="'fuse-mat-dense fuse-mat-rounded '" [(ngModel)]="searchQuery.start_date" class="w-full md:w-[180px]" [showClear]="true"></date-input>
            <date-input [displayText]="'Meeting Date To'"  [rangeDate]="searchQuery.start_date" [rangeType]="'end'" [controlClass]="'fuse-mat-dense fuse-mat-rounded '" [(ngModel)]="searchQuery.end_date" class="w-full md:w-[180px]" [showClear]="true"></date-input>
            <button type="button" (click)="doSearch()" mat-raised-button color="primary" class="mt-6 min-w-24 "> 
                <mat-icon   class="icon-size-6 material-symbols-outlined">search</mat-icon>  <span>Search</span> 
            </button>
        </div>
    </div>
    <div class="flex flex-auto overflow-hidden">
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="(listData$ | async) as listData">
                <div class="p-6">
                    <ng-container *ngIf="listData.datas.length > 0; else noDatas">
                        <ng-container *ngFor="let data of listData.datas">
                  
                        </ng-container>
                    </ng-container>
                </div>
                <mat-paginator #paginator class=" sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent" [ngClass]="{'pointer-events-none': isLoading}" [length]="listData.totalRecord" [pageIndex]="listData.page" [pageSize]="listData.pageSize" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true">
                </mat-paginator>
            </ng-container>
            <ng-template #noDatas>
                <div class="p-8 sm:p-16  border-t font-semibold tracking-tight text-center">Record not found!</div>
            </ng-template>
        </div>
    </div>
</div>
