<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card">
    <div class="relative flex flex-col gap-4 sm:flex-row flex-0 sm:items-center sm:justify-end pt-4 px-6 border-b">
        <div><button type="button" (click)="create()" mat-raised-button color="primary" class="mb-4"> New Agenda </button></div>
        <div><button type="button" (click)="create2()" mat-raised-button class="mb-4 bg-sky-100"> List of Agenda </button></div>
        <div><button type="button" (click)="export()" mat-raised-button class="mb-4 bg-gray-200"> Export Agendum </button></div>
    </div>
    <div class="flex flex-auto overflow-hidden">
        <div class="flex flex-col flex-auto sm:mb-0 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="datas">
                <ng-container *ngIf="datas.length > 0; else noDatas">
                    <div class="grid">
                        <div class="z-10 sticky top-0 grid  grid-cols-[30px_minmax(200px,_1fr)_60px_70px_70px_140px] gap-4 py-2 px-4 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5">
                            <div class="text-center">
                                Action
                            </div>
                            <div class="text-center">
                                Agenda
                            </div>
                            <div class="text-center">
                                Time (min)
                            </div>
                            <div class="text-center">
                                Attachment
                            </div>
                            <div class="text-center">
                                Vote Open
                            </div>
                            <div class="text-center">
                                Updated By
                            </div>
                        </div>
                        <div cdkDropList class="cursor-move" (cdkDropListDropped)="drop($event)" [cdkDropListData]="datas">
                            <ng-container *ngFor="let data of datas;">
                                <div class="grid-cols-[30px_minmax(200px,_1fr)_60px_70px_70px_140px] grid items-center gap-4 w-full py-1 px-4  border-b {{bgSteps[0]}}" cdkDrag>
                                    <div class="text-center">
                                        <button mat-icon-button type="button" [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation();">
                                            <mat-icon class="material-symbols-outlined">more_vert</mat-icon>
                                        </button>
                                        <mat-menu #moreMenu="matMenu" class="w-200">
                                            <button type="button" mat-menu-item (click)="subCreate(data)">
                                                <mat-icon class="material-symbols-outlined">add_circle</mat-icon> Add Agenda
                                            </button>
                                            <mat-divider></mat-divider>
                                            <button type="button" mat-menu-item (click)="createReserveChild(data)">
                                                <mat-icon class="material-symbols-outlined">add_task</mat-icon> Add Reserve Agenda
                                            </button>
                                            <mat-divider></mat-divider>
                                            <button type="button" mat-menu-item (click)="edit(data)">
                                                <mat-icon class="material-symbols-outlined">edit_square</mat-icon> Edit
                                            </button>
                                            <mat-divider></mat-divider>
                                            <button type="button" mat-menu-item (click)="moveUp(data)">
                                                <mat-icon class="material-symbols-outlined">arrow_upward</mat-icon> Move Up
                                            </button>
                                            <mat-divider></mat-divider>
                                            <button type="button" mat-menu-item (click)="moveDown(data)">
                                                <mat-icon class="material-symbols-outlined">arrow_downward</mat-icon> Move Down
                                            </button>
                                            <mat-divider></mat-divider>
                                            <button type="button" mat-menu-item (click)="deleteAgenda(data)">
                                                <mat-icon class="material-symbols-outlined">delete</mat-icon> Delete
                                            </button>
                                            <mat-divider></mat-divider>
                                        </mat-menu>
                                    </div>
                                    <div>
                                        <div class="font-bold flex flex-row items-center">
                                            <span class="mr-2">{{data.agendaNo}}</span><span>{{data.title}}</span>
                                        </div>
                                        <div *ngIf="data.agendaRequestItemId">[{{data.agendaReserveName}} | {{data.agendaReserveDate | date : 'dd/MM/yyyy HH:mm'}}]</div>
                                    </div>
                                    <div class="text-center">{{(data.useTime > 0 ? data.useTime : '-')}}</div>
                                    <div class="text-center">
                                        <ng-container *ngIf="data.isAttachment">
                                            <mat-icon class="text-green-400 icon-size-5 material-symbols-outlined">check</mat-icon>
                                        </ng-container>
                                        <ng-container *ngIf="!data.isAttachment">
                                            <mat-icon class="text-gray-400 icon-size-5 material-symbols-outlined">block</mat-icon>
                                        </ng-container>
                                    </div>
                                    <div class="text-center">
                                        <ng-container *ngIf="data.isVoteOpen">
                                            <mat-icon class="text-green-400 icon-size-5 material-symbols-outlined">check</mat-icon>
                                        </ng-container>
                                        <ng-container *ngIf="!data.isVoteOpen">
                                            <mat-icon class="text-gray-400 icon-size-5 material-symbols-outlined">block</mat-icon>
                                        </ng-container>
                                    </div>
                                    <div>{{data.updatedUser}}</div>
                                </div>
                                <ng-container *ngTemplateOutlet="childAgenda;context:{ itemDatas: data.subAgendas, parentData: data }"></ng-container>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
            <ng-template #noDatas>
                <div *ngIf="datas && datas.length === 0" class="p-8 sm:p-16  border-t font-semibold tracking-tight text-center">Record not found!</div>
            </ng-template>
            <ng-template #childAgenda let-itemDatas="itemDatas">
                <ng-container *ngIf="itemDatas && itemDatas.length > 0">
                    <div cdkDropList class="cursor-move" (cdkDropListDropped)="drop($event)" [cdkDropListData]="itemDatas">
                        <ng-container *ngFor="let data of itemDatas;">
                            <div class="grid-cols-[30px_minmax(200px,_1fr)_60px_70px_70px_140px]  grid items-center gap-4 w-full py-1 px-4  border-b {{bgSteps[data.level]}}" cdkDrag>
                                <div class="text-center">
                                    <button mat-icon-button type="button" [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation();">
                                        <mat-icon class="material-symbols-outlined">more_vert</mat-icon>
                                    </button>
                                    <mat-menu #moreMenu="matMenu">
                                        <button type="button" mat-menu-item (click)="subCreate(data)">
                                            <mat-icon class="material-symbols-outlined">add_circle</mat-icon> Add Agenda
                                        </button>
                                        <mat-divider></mat-divider>
                                        <button type="button" mat-menu-item (click)="createReserveChild(data)">
                                            <mat-icon class="material-symbols-outlined">add_task</mat-icon> Add Reserve Agenda
                                        </button>
                                        <mat-divider></mat-divider>
                                        <button type="button" mat-menu-item (click)="edit(data)">
                                            <mat-icon class="material-symbols-outlined">edit_square</mat-icon> Edit
                                        </button>
                                        <mat-divider></mat-divider>
                                        <button type="button" mat-menu-item (click)="moveUp(data)">
                                            <mat-icon class="material-symbols-outlined">arrow_upward</mat-icon> Move Up
                                        </button>
                                        <mat-divider></mat-divider>
                                        <button type="button" mat-menu-item (click)="moveDown(data)">
                                            <mat-icon class="material-symbols-outlined">arrow_downward</mat-icon> Move Down
                                        </button>
                                        <mat-divider></mat-divider>
                                        <button type="button" mat-menu-item (click)="deleteAgenda(data)">
                                            <mat-icon class="material-symbols-outlined">delete</mat-icon> Delete
                                        </button>
                                        <mat-divider></mat-divider>
                                    </mat-menu>
                                </div>
                                <div class="items-center " [ngStyle]="{'marginLeft':((data.level) * 15)+ 'px'}">
                                    <div class="flex flex-row w-full">
                                        <div><span class="mr-2">{{data.agendaNo}}</span><span>{{data.title}}</span></div>
                                    </div>
                                    <div *ngIf="data.agendaRequestItemId">[{{data.agendaReserveName}} | {{data.agendaReserveDate | date : 'dd/MM/yyyy HH:mm'}}]</div>
                                </div>
                                <div class="text-center">{{(data.useTime > 0 ? data.useTime : '-')}}</div>
                                <div class="text-center">
                                    <ng-container *ngIf="data.isAttachment">
                                        <mat-icon class="text-green-400 icon-size-5 material-symbols-outlined">check</mat-icon>
                                    </ng-container>
                                    <ng-container *ngIf="!data.isAttachment">
                                        <mat-icon class="text-gray-400 icon-size-5 material-symbols-outlined">block</mat-icon>
                                    </ng-container>
                                </div>
                                <div class="text-center">
                                    <ng-container *ngIf="data.isVoteOpen">
                                        <mat-icon class="text-green-400 icon-size-5 material-symbols-outlined">check</mat-icon>
                                    </ng-container>
                                    <ng-container *ngIf="!data.isVoteOpen">
                                        <mat-icon class="text-gray-400 icon-size-5 material-symbols-outlined">block</mat-icon>
                                    </ng-container>
                                </div>
                                <div class="truncate">{{data.updatedUser}}</div>
                            </div>
                            <ng-container *ngTemplateOutlet="childAgenda;context:{ itemDatas: data.subAgendas, parentData: data }"></ng-container>
                        </ng-container>
                    </div>
                </ng-container>
            </ng-template>
        </div>
    </div>
</div>
