<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card">
    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-3xl font-extrabold tracking-tight px-6">Manage Meeting</div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 ml-4 flex-1">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-72 mr-4 w-full">
                <mat-icon class="icon-size-5 material-symbols-outlined" matPrefix>search</mat-icon>
                <input matInput [(ngModel)]="searchQuery.kw" [autocomplete]="'off'"  (keyup.enter)="doSearch()">
                <div matSuffix class="text-center text-md "><a class="cursor-pointer" (click)="toggleAdvanceSearch()"><u>Advanced</u></a></div>
                <button type="button" mat-icon-button *ngIf="searchQuery.kw" (click)="clearSearch()" matSuffix>
                    <mat-icon class="icon-size-5 cursor-pointer material-symbols-outlined">close</mat-icon>
                </button>
            </mat-form-field>
            <!-- Add product button -->

        </div>
        
        <button type="button" class="ml-4 mr-6 mt-6 sm:mt-0" mat-flat-button [color]="'primary'" (click)="create()">
            <mat-icon class="icon-size-5 material-symbols-outlined">add_circle</mat-icon>
            <span class="ml-2 mr-1">New</span>
        </button>
    </div>
    <div *ngIf="isAdvance" class="relative flex flex-col sm:flex-row flex-0  gap-4 sm:items-center sm:justify-between pt-4 px-6 border rounded mb-2 pb-4 bg-gray-50">
    <div class="flex flex-1  flex-col sm:flex-row gap-4 sm:items-center sm:justify-center ">
            <search-option class="w-full md:w-[280px] mt-2 " [showAll]="true" [placeholder]="'All Meeting Room'" [allText]="'All Meeting Room'"  [class]="'fuse-mat-rounded fuse-mat-dense fuse-mat-no-subscript'" [(ngModel)]="searchQuery.catId" [displayText]="'Meeting Room'" [options$]="meetingGroups$"  [value]="'id'" [text]="'name'" ></search-option>
            <date-input [displayText]="'Meeting Date From'" [rangeDate]="searchQuery.end_date" [rangeType]="'start'"  [controlClass]="'fuse-mat-dense fuse-mat-rounded '" [(ngModel)]="searchQuery.start_date" class="w-full md:w-[180px]" [showClear]="true"></date-input>
            <date-input [displayText]="'Meeting Date To'"  [rangeDate]="searchQuery.start_date" [rangeType]="'end'" [controlClass]="'fuse-mat-dense fuse-mat-rounded '" [(ngModel)]="searchQuery.end_date" class="w-full md:w-[180px]" [showClear]="true"></date-input>
            <button type="button" (click)="doSearch()" mat-raised-button color="primary" class="mt-6 min-w-24 "> 
                <mat-icon   class="icon-size-6 material-symbols-outlined">search</mat-icon>  <span>Search</span> 
            </button>
        </div>
    </div>
    <div class="flex flex-auto overflow-hidden">
        <div class="flex flex-col flex-auto sm:mb-18 sm:overflow-hidden overflow-auto sm:overflow-y-auto">
            <ng-container *ngIf="(listData$ | async) as listData">
                <ng-container *ngIf="listData.datas.length > 0; else noDatas">
                    <div class="grid">
                        <div class="z-10 sticky top-0 grid  grid-cols-[100px,minmax(200px,_1fr),100px,50px,125px,180px] gap-4 py-2 px-6 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5" >
                            <div>
                                Action
                            </div>
                            <div>
                                Meeting Info
                            </div>
                            <div>
                                Date
                            </div>
                            <div class="text-center">
                                Public
                            </div>
                            <div>
                                Last Updated
                            </div>
                            <div>
                                Updated By
                            </div>
                        </div>
                        <ng-container *ngFor="let data of listData.datas; trackBy: trackByFn; let i = index">
                            <div class="grid-cols-[100px,minmax(200px,_1fr),100px,50px,125px,180px] grid items-center gap-4 w-full py-4 px-6  border-b">
                                <div class="flex flex-row gap-2">
                                    <button type="button" (click)="edit(data)" [matTooltip]="'Edit'" tile="Edit">
                                        <mat-icon title="Edit" class="material-symbols-outlined">edit_square</mat-icon>
                                    </button>
                                    <button type="button" (click)="deleteData(data)" [matTooltip]="'Delete'">
                                        <mat-icon tile="Delete" class="material-symbols-outlined mt-1">delete</mat-icon>
                                    </button>
                                    <button type="button" (click)="duplicate(data)" [matTooltip]="'Duplicate'">
                                        <mat-icon tile="Duplicate" class="material-symbols-outlined mt-1">content_copy</mat-icon>
                                    </button>
                                </div>
                                <div class="truncate">
                                    <!-- {{data.name}} <span *ngIf="i===1|| i === 2" class="px-2 rounded-full bg-red-500 text-white">2</span><br>
                                    {{data.type}} -->
                                    <div><span class="font-bold">No.: </span> {{data.meetingNo}}</div>
                                    <div><span class="font-bold">Subject: </span> {{data.title}}</div>
                                    <div><span class="font-bold">Meeting Room: </span> {{data.meetingRoomName}}</div>
                                    <div><span class="font-bold">Meeting Type: </span> {{data.meetingTypeName || ''}}</div>
                                    <div><span class="font-bold">Sub Meeting Type: </span> {{data.meetingSubTypeName || ''}}</div>
                                </div>
                                <div >
                                    {{data.startDate | date : 'dd/MM/yyyy'}}
                                    <br>
                                    {{data.startDate | date : 'HH:mm'}} - {{data.endDate | date : 'HH:mm'}}
                                </div>
                                <div class="text-center">
                                    <ng-container *ngIf="data.active">
                                        <mat-icon class="text-green-400 icon-size-5 material-symbols-outlined">check</mat-icon>
                                    </ng-container>
                                    <ng-container *ngIf="!data.active">
                                        <mat-icon class="text-gray-400 icon-size-5 material-symbols-outlined">block</mat-icon>
                                    </ng-container>
                                </div>
                                <div>
                                    {{data.updatedDate | date : 'dd/MM/yyyy HH:mm'}}
                                </div>
                                <div>
                                    {{data.updatedUser}}
                                </div>
                            </div>
                        </ng-container>
                        <mat-paginator #paginator  class=" sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent" [ngClass]="{'pointer-events-none': isLoading}" [length]="listData.totalRecord" [pageIndex]="listData.page" [pageSize]="listData.pageSize" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true">
                        </mat-paginator>
                    </div>
                </ng-container>
               
            </ng-container>
            <ng-template #noDatas>
                <div class="p-8 sm:p-16  border-t font-semibold tracking-tight text-center">Record not found!</div>
            </ng-template>
        </div>
    </div>
</div>
