<div class="w-full h-full min-w-0 overflow-hidden">
    <mat-drawer-container class="h-full w-full sm:h-full overflow-hidden">
        <mat-drawer-content class="w-full flex flex-col sm:h-full overflow-hidden">
            <mat-toolbar matDialogTitle class="mat-accent m-0">
                <mat-toolbar-row clas="flex flex-row w-full">
                    <span class="title dialog-title flex-1">{{
                        dialogTitle
                        }}</span>
                    <button class="items-end" type="button" mat-icon-button (click)="close()" aria-label="Close dialog">
                        <mat-icon class="icon-size-5 cursor-pointer material-symbols-outlined">close</mat-icon>
                    </button>
                </mat-toolbar-row>
            </mat-toolbar>
            <div mat-dialog-content class="flex-1 pb-4 m-0 bg-white flex flex-col">
                <div  class="z-10 pt-4 sticky top-0 bg-white">
                    <mat-form-field class="w-60" >
                        <mat-select [(ngModel)]="viewOption" (selectionChange)="searchAgenda()">
                            <mat-option [value]="1">Approved Agenda</mat-option>
                            <mat-option [value]="2">Awaiting Agenda</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex-1">
                    <ng-container *ngIf="(listData$ | async) as listData">
                        <ng-container *ngIf="listData.length > 0; else noDatas">
                            <div class="grid flex flex-1">
                                <div class="grid grid-cols-[200px_minmax(200px,1fr)_200px_150px] z-10 sticky top-20 gap-4 py-2 px-6 shadow text-md font-semibold text-secondary bg-gray-50">
                                    <div>Request No.</div>
                                    <div>Agenda Name</div>
                                    <div>Request By</div>
                                    <div>Request Date</div>
                                </div>
                                <ng-container *ngFor="let data of listData; ">
                                    <div (click)="openChild(data.id)" class="grid grid-cols-[200px_minmax(200px,1fr)_200px_150px] items-center gap-4 w-full py-4 px-6 border-b hover:bg-gray-100 cursor-pointer">
                                        <div>{{data.documentNo}}</div>
                                        <div>{{data.title}}</div>
                                        <div>{{data.requesterName}}</div>
                                        <div>{{data.createdDate | date : 'dd/MM/yyyy HH:mm'}}</div>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
               
            </div>
        </mat-drawer-content>
        <mat-drawer class="w-full h-full overflow-hidden dark:bg-gray-900 hide-drawer-scroll " [autoFocus]="false" [mode]="drawerMode" [position]="'end'" [opened]="drawerOpened" #drawer>
            <div class="w-full h-full overflow-hidden flex flex-col" *ngIf="(data$ | async) as data">
                <mat-toolbar matDialogTitle class="mat-accent m-0">
                    <mat-toolbar-row clas="flex flex-row w-full">
                        <span class="title dialog-title flex-1">{{data.title}}</span>
                        <button class="items-end" type="button" mat-icon-button (click)="closeChild()" aria-label="Close dialog">
                            <mat-icon class="icon-size-5 cursor-pointer material-symbols-outlined">close</mat-icon>
                        </button>
                    </mat-toolbar-row>
                </mat-toolbar>
                <div mat-dialog-content class="flex-1 p-4 m-0 bg-white pb-10" >
                    <div class="font-bold text-lg ml-2 mb-2">Overview</div>
                    <div class="p-4 rounded-2xl bg-gray-50 border mb-6">
                        <div class="grid gap-2 grid-cols-[150px_minmax(200px,1fr)]">
                            <ng-container>
                                <div class="font-semibold">Request No.:</div>
                                <div>{{data.documentNo}}</div>
                            </ng-container>
                            <ng-container>
                                <div class="font-semibold">Meeting Name:</div>
                                <div>{{data.meetingTitle}}</div>
                            </ng-container>
                            <ng-container>
                                <div class="font-semibold">Meeting Date:</div>
                                <div>{{data.startDate | date : "dd-MM-yyyy"}} {{data.startDate | date : "HH:mm"}} <span *ngIf="data.endDate"> - {{data.endDate | date : "HH:mm"}} </span></div>
                            </ng-container>
                            <ng-container>
                                <div class="font-semibold">Agenda Name:</div>
                                <div>{{data.title}}</div>
                            </ng-container>
                            <ng-container>
                                <div class="font-semibold">Request By:</div>
                                <div>{{data.requesterName}}</div>
                            </ng-container>
                            <ng-container>
                                <div class="font-semibold">Request Date:</div>
                                <div>{{data.createdDate | date : 'dd/MM/yyyy HH:mm'}}</div>
                            </ng-container>
                            <ng-container>
                                <div class="font-semibold">Require Voting:</div>
                                <div *ngIf="data.isVote === true">Yes</div>
                                <div *ngIf="data.isVote === false">No</div>
                            </ng-container>
                            <ng-container>
                                <div class="font-semibold">Vote Open:</div>
                                <div *ngIf="data.isVoteOpen === true">Yes</div>
                                <div *ngIf="data.isVoteOpen === false">No</div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="flex flex-row gap-2 mb-6">
                        <div class="flex-1">
                            <div class="font-bold text-lg ml-2 mb-2">
                                Presenters
                            </div>
                            <div class="max-h-40 overflow-auto border p-2">
                                <ng-container *ngIf="data.presenters.length > 0; else noDatas">
                                    <div *ngFor="let item of data.presenters;let index = index ">{{(index + 1)}}. {{item.name}}</div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="flex-1">
                            <div class="font-bold text-lg ml-2 mb-2">Exclude Attendee</div>
                            <div class="max-h-40 overflow-auto border p-2">
                                <ng-container *ngIf="data.excludeUsers.length > 0; else noDatas">
                                    <div *ngFor="let item of data.excludeUsers;let index = index ">{{(index + 1)}}. {{item.name}}</div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="mb-6">
                        <div class="font-bold text-lg ml-2 mb-2">
                            Presenter Attachments
                        </div>
                        <ng-container *ngIf="data.presenterAttachments">
                            <ng-container *ngIf="data.presenterAttachments.length > 0; else noDatas">
                                <div class="grid">
                                    <div class="grid grid-cols-[minmax(160px,_1fr)_160px_120px]  z-10  gap-4 py-2 px-6 shadow text-md font-semibold text-secondary bg-gray-50">
                                        <div>
                                            File Name
                                        </div>
                                        <div>
                                            Uploaded By
                                        </div>
                                        <div>
                                            Uploaded Date
                                        </div>
                                    </div>
                                    <ng-container *ngFor="let item of data.presenterAttachments; let index = index ">
                                        <div class="grid grid-cols-[minmax(160px,_1fr)_160px_120px] items-center gap-4 w-full py-2 px-6  border-b">
                                            <div class="truncate">
                                                <span class="mr-4">{{(index + 1)}}.</span> <a [openFile]="item" class="underline cursor-pointer">{{item.fileName}}</a>
                                            </div>
                                            <div class="truncate">
                                                {{item.updatedUser}}
                                            </div>
                                            <div class="truncate">
                                                {{item.updatedDate | date : 'dd/MM/yyyy HH:mm'}}
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                    <div class="mb-6">
                        <div class="font-bold text-lg ml-2 mb-2">Attachments</div>
                        <ng-container *ngIf="data.attachments">
                            <ng-container *ngIf="data.attachments.length > 0; else noDatas">
                                <div class="grid">
                                    <div class="grid grid-cols-[50px_minmax(160px,_1fr)_200px_160px_120px] top-0  gap-4 py-2 px-6 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5">
                                        <div>
                                            Action
                                        </div>
                                        <div>
                                            File Name
                                        </div>
                                        <div>
                                            Document Type
                                        </div>
                                        <div>
                                            Uploaded By
                                        </div>
                                        <div>
                                            Uploaded Date
                                        </div>
                                    </div>
                                    <div>
                                        <ng-container *ngFor="let item of data.attachments; let index = index ">
                                            <div class="grid grid-cols-[50px_minmax(160px,_1fr)_200px_160px_120px] items-center gap-4 w-full py-0 px-6  border-b bg-white">
                                                <div>
                                                    <button mat-icon-button type="button" [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation();">
                                                        <mat-icon class="material-symbols-outlined">more_vert</mat-icon>
                                                    </button>
                                                    <mat-menu #moreMenu="matMenu">
                                                        <button type="button" mat-menu-item (click)="openPermission(item)"><mat-icon class="material-symbols-outlined">lock</mat-icon> View Permission</button>
                                                        <mat-divider></mat-divider>
                                                    </mat-menu>
                                                </div>
                                                <div class="truncate">
                                                    <span class="mr-4">{{(index + 1)}}.</span><a  [openFile]="item" class="underline cursor-pointer">{{item.fileName}}</a>
                                                </div>
                                                <div>{{item.documentTypeName}}</div>
                                                <div class="truncate">
                                                    {{item.updatedUser}}
                                                </div>
                                                <div class="truncate">
                                                    {{item.updatedDate | date : 'dd/MM/yyyy HH:mm'}}
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
                <div mat-dialog-actions class="m-0 py-2 px-4 mat-primary gap-4 bg-gray-100">
                    <button type="button" (click)="importAgenda()" mat-raised-button color="primary" class="save-button mat-accent">
                        <span>
                            Import
                        </span>
                    </button>
                    <button type="button" (click)="closeChild()" mat-raised-button class="bg-gray-200">
                        <span>
                            Back
                        </span>
                    </button>
                </div>
            </div>

        </mat-drawer>
    </mat-drawer-container>
    <ng-template #noDatas>
        <div class="font-semibold tracking-tight text-center">No Data.</div>
    </ng-template>
</div>
