<div  class="flex flex-col h-full"  >
    <mat-toolbar matDialogTitle class="bg-sky-700 text-white m-0">
        <mat-toolbar-row clas="flex flex-row w-full">
            <span class="title dialog-title flex-1">Preview</span>
            <button class="items-end text-white" type="button" mat-icon-button (click)="close()" aria-label="Close dialog">
                <mat-icon class="text-white material-symbols-outlined">close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="p-4 m-0  flex-1 flex flex-col">
        <video class="h-full"  [autoplay]="true" controls>
            <source [src]="url" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

</div>

