<div class="flex flex-col h-full">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row clas="flex flex-row w-full">
            <span class="title dialog-title flex-1">Search Employee</span>
            <button class="items-end" type="button" mat-icon-button (click)="close(null)" aria-label="Close dialog">
                <mat-icon class="icon-size-5 cursor-pointer material-symbols-outlined">close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div  class="p-4 m-0 flex flex-col flex-1 w-full">
        <div class="w-full">
            <mat-form-field class="fuse-mat-no-subscript w-full">
                <mat-label>Domain</mat-label>
                <mat-select [(ngModel)]="searchQuery.ldapId">
                    <mat-option [value]="item.id" *ngFor="let item of (ldapOption$ | async) as ldapOption">{{item.domain}}</mat-option>
                </mat-select>
            </mat-form-field>
              <mat-form-field class="fuse-mat-no-subscript w-full">
                  <mat-label>Search Type</mat-label>
                  <mat-select [(ngModel)]="searchQuery.searchType">
                    <mat-option value="GivenName">First name</mat-option>
                    <mat-option value="Surname">Last name</mat-option>
                    <mat-option value="LoginName">Login Name</mat-option>
                    <mat-option value="EmployeeId">Employee Id</mat-option>
                    <mat-option value="EmailAddress">Email Address</mat-option>
                    <mat-option value="DisplayName">Display Name</mat-option>
                  </mat-select>
              </mat-form-field>
            <mat-form-field class="fuse-mat-no-subscript w-full">
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="searchQuery.kw" (keyup)="$event.keyCode === 13 ? doSearch() : null" >
            </mat-form-field>
        </div>
        <div class="flex flex-auto overflow-hidden mt-2">
            <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                <ng-container *ngIf="(listData$ | async) as listData">
                    <ng-container *ngIf="listData.datas.length > 0; else noDatas">
                        <div class="grid">
                            <div class="employee-search-grid z-10 sticky top-0 grid gap-4 py-2 px-6 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5" >
                                <div>
                                    Name
                                </div>
                                <div>
                                    Login Name
                                </div>
                                <div>
                                    Email
                                </div>
                            </div>
                            <ng-container *ngFor="let data of listData.datas; ">
                                <div (click)="doSelect(data)" class="employee-search-grid grid items-center gap-4 w-full py-4 px-6  border-b cursor-pointer hover:bg-gray-50">
                                    <div>
                                        {{data.displayName}}
                                    </div>
                                    <div>
                                        {{data.samAccountName}}
                                    </div>
                                    <div>
                                        {{data.emailAddress}}
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                </ng-container>
                <ng-template #noDatas>
                    <div class="p-8 sm:p-16  border-t font-semibold tracking-tight text-center">Record not found!</div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
