<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card">
    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-3xl font-extrabold tracking-tight px-6 sm:mt-6">Login Logs</div>
        <!-- Actions -->
        <div class="flex flex-col lg:flex-row gap-4 items-center  mr-6 sm:mt-0 ml-4 flex-1">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64 w-full mt-6">
                <mat-icon class="icon-size-5 material-symbols-outlined" matPrefix >search</mat-icon>
                <mat-button *ngIf="searchQuery.kw" (click)="clearSearch()" matSuffix>
                    <mat-icon class="icon-size-5 cursor-pointer material-symbols-outlined">close</mat-icon>
                </mat-button>
                <input matInput [(ngModel)]="searchQuery.kw" [autocomplete]="'off'"  (keyup.enter)="doSearch()">
            </mat-form-field>
            <div class="flex flex-col sm:flex-row gap-4 w-full">
                <date-input [displayText]="'Date From'"[rangeDate]="searchQuery.end_date" [rangeType]="'start'"  [controlClass]="'fuse-mat-dense fuse-mat-rounded '" [(ngModel)]="searchQuery.start_date" class="w-full md:w-45" [showClear]="true"></date-input>
                <date-input [displayText]="'Date To'"  [rangeDate]="searchQuery.start_date" [rangeType]="'end'" [controlClass]="'fuse-mat-dense fuse-mat-rounded '" [(ngModel)]="searchQuery.end_date" class="w-full md:w-45" [showClear]="true"></date-input>
            </div>

            <!-- Add product button -->
        </div>
        <button type="button" (click)="doSearch()" mat-raised-button color="primary" class="ml-4 mr-6 mt-6 min-w-24 "> 
            <mat-icon   class="icon-size-6 material-symbols-outlined">search</mat-icon>  <span>Search</span> 
        </button>
    </div>
    <div class="flex flex-auto overflow-hidden">
        <div class="flex flex-col flex-auto sm:mb-18 sm:overflow-hidden overflow-auto sm:overflow-y-auto">
            <ng-container *ngIf="(listData$ | async) as listData">
                <ng-container *ngIf="listData.datas.length > 0; else noDatas">
                    <div class="grid">
                        <div class="z-10 sticky top-0 grid  grid-cols-[minmax(200px,_1fr),180px] gap-4 py-2 px-6 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5" >
                            <div>
                                 Username
                            </div>
                            <div>
                                Date
                            </div>
                        </div>
                        <ng-container *ngFor="let data of listData.datas; trackBy: trackByFn">
                            <div class="grid grid-cols-[minmax(200px,_1fr),180px] items-center gap-4 w-full py-4 px-6  border-b">
                                <div class="truncate">
                                    {{data.username}}
                                </div>
                                <div>
                                    {{data.createdDate | date : 'dd/MM/yyyy HH:mm'}}
                                </div>
                            </div>
                        </ng-container>
                        <mat-paginator #paginator  class=" sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent" [ngClass]="{'pointer-events-none': isLoading}" [length]="listData.totalRecord" [pageIndex]="listData.page" [pageSize]="listData.pageSize" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true">
                        </mat-paginator>
                    </div>
                </ng-container>
           
            </ng-container>
            <ng-template #noDatas>
                <div class="p-8 sm:p-16  border-t font-semibold tracking-tight text-center">Record not found!</div>
            </ng-template>
        </div>
    </div>
</div>
