<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card">
    <!-- Header -->
    <div class="relative flex flex-col gap-4 sm:flex-row flex-0 sm:items-center sm:justify-end pt-4 px-6 border-b">
        <!-- Loader -->
        <div><button type="button" mat-raised-button color="primary" class="mb-4" (click)="create()"> New Follow Up </button></div>
    </div>
    <div class="flex flex-auto overflow-hidden">
        <div class="flex flex-col flex-auto sm:mb-0 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="(listData$ | async) as listData">
                <ng-container *ngIf="listData.datas.length > 0; else noDatas">
                    <div class="grid">
                        <div class="z-10 sticky top-0 grid  follow-up-grid gap-4 py-2 px-6 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5" >
                            <div>Action</div>
                            <div>
                                Title
                            </div>
                            <div>
                                Start Date
                            </div>
                            <div>
                                Target Date
                            </div>
                            <div>
                                Assign To
                            </div>
                            <div>
                                Status
                            </div>
                        </div>
                        <ng-container *ngFor="let data of listData.datas;">
                            <div class="follow-up-grid grid items-center gap-4 w-full py-2 px-6  border-b">
                                <div class="flex flex-row gap-2">
                                    <button type="button" (click)="edit(data)">
                                        <mat-icon title="Edit" class="material-symbols-outlined">edit_square</mat-icon>
                                    </button>
                                    <button type="button" (click)="deleteData(data)" [matTooltip]="'Delete'">
                                        <mat-icon tile="Delete" class="material-symbols-outlined mt-1">delete</mat-icon>
                                    </button>
                                </div>
                                <div class="truncate">
                                    {{data.title}}
                                </div>
                                <div class="truncate">
                                    {{data.startDate | date : 'dd/MM/yyyy'}}
                                </div>
                                <div class="truncate">
                                    {{data.endDate | date : 'dd/MM/yyyy'}}
                                </div>
                                <div class="truncate">
                                    <ng-container *ngFor="let item of data.followUpAttendees">
                                     <span class="truncate">• {{item.firstName}} {{item.lastName}} </span><br>
                                    </ng-container>
                                 </div>
                                 <div>
                                    {{data.status}}
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
                <mat-paginator #paginator
                class=" sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                [ngClass]="{'pointer-events-none': isLoading}"
                [length]="listData.totalRecord"
                [pageIndex]="listData.page"
                [pageSize]="listData.pageSize"
                [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true">
                </mat-paginator>
            </ng-container>
            <ng-template #noDatas>
                <div class="p-8 sm:p-16  border-t font-semibold tracking-tight text-center">Record not found!</div>
            </ng-template>
        </div>
    </div>
</div>
